@{
    ViewBag.Title = "Home";
}

<div>
    <div class="text-center">
        <img src="~/Images/Logos/mainLogo.png" class="homePageTitle" />
    </div>
    <div class="centerContent">
        <div class="card mb-3 homePageCard-getStarted">
            <div class="card-body">
                <h4 class="card-title text-success text-center homePageCards">Venue Owner</h4>
                @Html.ActionLink("Get Started", "Index", "NewAccount", new { area = "" }, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="card mb-3 homePageCard-findSeat">
            <div class="card-body">
                <h4 class="card-title text-success text-center homePageCards">Find My Seat</h4>
                @Html.ActionLink("View Seat", "UserIndex", "Venue", new { area = "" }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>