@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>SeatView</h1>
    @*Html.ActionLink("Display Name", "Name of method in controller", "Name of controller")*@
    @Html.ActionLink("Create Account", "Index", "NewAccount")
</div>